<div class="dashboard-container">
  <div class="topbar">
    <div class="logo">👨‍⚕️ MyHospital User</div>
    <div class="logout" (click)="logout()">Logout</div>
  </div>

  <div class="body-container">
    <div class="sidebar">
      <ul>
        <li (click)="selectSection('myProfile')">🙍‍♂️ My Profile</li>
        <li (click)="selectSection('appointments')">📅 Appointments</li>
        <li (click)="selectSection('help')">❓ Help</li>
      </ul>
    </div>

    <div class="main-content">
      <div *ngIf="selectedSection === 'myProfile' && userProfile">
        <h2>👤 My Profile</h2>
        <p><strong>Username:</strong> {{ userProfile.username }}</p>
        <p><strong>Email:</strong> {{ userProfile.email }}</p>
        <p><strong>Role:</strong> {{ userProfile.role }}</p>
      </div>

      <div *ngIf="selectedSection === 'appointments'" class="appointments-section">
        <h2>📅 Book an Appointment</h2>
      
        <form [formGroup]="appointmentForm" (ngSubmit)="bookAppointment()">
          <input formControlName="date" type="date" placeholder="Date" />
          <input formControlName="time" type="time" placeholder="Time" />
          <select formControlName="doctorName">
            <option value="">Select Doctor</option>
            <option *ngFor="let doctor of doctors" [value]="doctor.username">
              {{ doctor.username }}
            </option>
          </select>
          
          <input formControlName="department" type="text" placeholder="Department" />
          <input formControlName="reason" type="text" placeholder="reason" />
          <button type="submit" [disabled]="appointmentForm.invalid">Book</button>
        </form>
      
        <h3>Your Appointments</h3>
        <ul *ngIf="appointments.length > 0; else noAppointments">
          <li *ngFor="let appointment of appointments">
            <strong>{{ appointment.date }} at {{ appointment.time }}</strong> with 
            Dr. {{ appointment.doctorName }} ({{ appointment.department }}) - 
            <em>{{ appointment.status || 'Pending' }}</em>
            <button 
            *ngIf="appointment.status?.toLowerCase() === 'rescheduled'" 
            (click)="showRescheduleDetails(appointment.id!, appointment.NewDate!, appointment.NewTime!)"
            >
            Accept Reschedule
          </button>
          
          </li>
        </ul>
      
        <ng-template #noAppointments>
          <p>No appointments yet.</p>
        </ng-template>
      </div>

      <div *ngIf="rescheduleDetails" class="reschedule-popup">
        <h4>Reschedule Confirmation</h4>
        <p>New Date: <strong>{{ rescheduleDetails.newDate }}</strong></p>
        <p>New Time: <strong>{{ rescheduleDetails.newTime }}</strong></p>
        <button (click)="confirmAcceptReschedule()">Confirm</button>
        <button (click)="rescheduleDetails = null">Cancel</button>
      </div>
      
      

      <div *ngIf="selectedSection === 'help'">
        Help content...
      </div>
    </div>
  </div>
</div>
